<div fxLayout="row" fxLayoutAlign="center center">
    <h2>Products</h2>
</div>

<div fxLayout="row" fxLayoutAlign="start center">
    <div fxFlex="70">
        <mat-form-field class="example-form-field" appearance="outline" style="width: 100%">
            <mat-label>Search by name</mat-label>
            <input matInput placeholder="Search" [formControl]="search" (keydown.enter)="$event.preventDefault(); $event.stopPropagation()">
        </mat-form-field>
    </div>
    <button mat-icon-button color="primary" (click)="toggleAction()">
        <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button color="primary" (click)="togglelist()">
        <mat-icon *ngIf="list">list</mat-icon>
        <mat-icon *ngIf="!list">view_module</mat-icon>
    </button>
</div>

<div *ngIf="!loading">
    <app-products-module *ngIf="list" [products]="products"></app-products-module>
    <app-products-container *ngIf="!list" [categoriesList]="categoriesList"></app-products-container>
</div>

<div *ngIf="loading">
    <app-loading></app-loading>
</div>

<div fxLayout="row" fxLayoutAlign="center center" *ngIf="!products.length && !loading">No products available</div>