<div class="app">
  <mat-toolbar fxLayout="row" fxLayoutAlign="start center" color="primary">
    <button type="button" mat-button (click)="sidebar.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>El Baratón Angular</span>
  </mat-toolbar>
  <mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class="sidenav" mode="over">
      <div 
        style="outline: 0;"
        *ngFor="let route of routes" 
        routerLink="{{route.path}}" 
        routerLinkActive="active-route" 
        [routerLinkActiveOptions]="{exact:true}"
        fxLayout="row" 
        (click)="goto()"
        fxLayoutAlign="start center">
        <mat-icon>{{route.icon}}</mat-icon>
        <p>{{route.name}}</p>
      </div>
    </mat-drawer>
    <router-outlet></router-outlet>
  </mat-drawer-container>
</div>