.app {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    max-height: 100%;
}

.sidenav p {
    cursor: pointer;
}

.sidenav mat-icon {
    margin-right: 15px;
}

.active-route {
    color: #c2185b !important;
    border: none !important;
}
